@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
:root {
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 33%, 92%);
  --modarate-violet: hsl(263, 55%, 52%);
  --dark-grayish-blue: hsl(217, 19%, 35%);
  --dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --light-white: rgba(255, 255, 255, 0.5);
  --black: hsl(0, 0%, 0%);
  --body-font: "Barlow Semi Condensed", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 13px;
}
body{
  background-color: var(--light-grayish-blue);
  font-family: var(--body-font);
  width: 100vw;
  height: 100vh;
}
main.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.testimonials-section{
  height: 70rem;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1.5rem;
  margin: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;

}
.section-1,.section-2,.section-3,.section-4,.section-5{
  padding: 1.7rem;
  border-radius: 0.5rem;
}
.author {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.highlight-content {
  font-size: 1.54rem;
  word-spacing: 1.7px;
  margin: 1.5rem 0;
}
.highlight-font{
  font-size: 1.35rem;
}
.section-3, .section-4{
  background-color: var(--light-white);
  box-shadow: 1rem 1rem 3.5rem 0.5rem rgba(29, 28, 28, 0.2) ;
}

.content {
  font-size: 1rem;
  padding-top: 0.4rem;
  line-height: 1.4rem;
}


.author-img {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
} 

.section-1 {
  background-image: url("images/bg-pattern-quotation.svg") no-repeat;
  background-color: var(--modarate-violet);
}
.section-2 {
  background-color: var(--dark-grayish-blue);
}
.section-5 {
  background-color: var(--dark-blackish-blue);
}
.author-color,.content-color{
  color: var(--light-white);
}
.highlight-color,.section-1 .author-info,
.section-2 .author-info,
.section-5 .author-info {
  color: var(--white);
  font-weight: 500;
}
.author-description,
.content {
  opacity: 50%;
}
.section-3 .author-info,
.section-4 .author-info .section-3 .highlight-content,
.section-4 .highlight-content {
  color: var(--dark-grayish-blue);
}

.author-description {
  font-size: 11px;
}
.section-3 {
  order:5 ;
}

.section-5 .author-img {
  border-color: var(--modarate-violet);
}

.section-1 .author-img {
  border-color: var(--light-white);
}

.attribution{
 display: none;
}
@media (min-width:1200px ) {

  .testimonials-section{
    margin: 14rem;
    margin-top: 41rem;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1.4rem;
  }
  .section-1{
    order: 1;
  }
  .section-2{
    order: 2;
  }
  .section-3{
    grid-row: span 2;
    order: 3;
  }
  .section-4{
  order: 4;
  }
  .section-5{
    order: 5;
  }
  .section-1{
    grid-column:span 2 ;
  }
 .section-5{
   grid-column: span 2;
 }
 .attribution{
  position: relative;
  bottom: 4rem;
}
}